.app {
  &__title {
    text-align: center;
  }
  &__main {
    display: grid;
    grid-gap: 16px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
    }
  }
}
